<div class="card col-sm-9 col-12" style="float: left">
    <div class="row">

        <div class="col-12">
            <div class="card-header card-title">{{ pageTitle }}</div>
        </div>

        <div class="movie-container col-sm-2 col-6"
             ng-repeat="movie in movieList | paginate:currentPage:pageSize">
            <a href="#/movie/{{ movie.id }}" class="movie-thumb">
                <img class="img-thumbnail" ng-src="img/posters{{ movie.poster_path }}" alt="image">
                <h5>{{ movie.title }}</h5>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <ul uib-pagination
                class="pagination"
                total-items="movieList.length"
                ng-model="currentPage"
                items-per-page="pageSize"></ul>
        </div>
    </div>
</div>

<div class="col-sm-2" style="float: left">
    <div class="card-title genre-title">by genre</div>
    <div class="list-group">
        <a href="#/" class="list-group-item">
            <span class="badge">{{ movieList.length }}</span>
            All
        </a>
        <a href="#/genre/{{ genre.name }}" class="list-group-item" ng-repeat="genre in genreList">
            <span class="badge">{{ genre.total }}</span>
            {{ genre.name }}
        </a>
    </div>
</div>
