<div class="card col-sm-10 col-12">
    <div class="row">

        <div class="col-12">
            <div class="card-header card-title">Most Watched This Week</div>
        </div>

        <div class="movie-container col-sm-2 col-6"
             ng-repeat="movie in movieList | paginate:currentPage:pageSize">
            <a href="#/movie/{{ movie.id }}" class="movie-thumb">
                <img class="img-thumbnail" ng-src="img/posters{{ movie.poster_path }}" alt="image">
                <h5>{{ movie.title }}</h5>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <ul uib-pagination
                class="pagination"
                total-items="movieList.length"
                ng-model="currentPage"
                items-per-page="pageSize"></ul>
        </div>
    </div>
</div>
