body {
	margin-top: 50px;
}
.card-title, .navbar-brand {
	font-family: 'lobster', cursive;
	font-weight: bold;
	line-height: 1.1;
	font-size: 26px;
	margin-top: 0;
}
.movie-container {
	height: 250px;
}
.movie-thumb {
	text-align: center;
	color: #000;
}
.movie-thumb h5 {
	font-weight: bold;
	margin-top: 0;
}
.movie-thumb:hover {
	text-decoration: none;
	color: #808080;
}
.moviedetails .poster {
	float: left;
	margin-right: 20px;
}
.moviedetails .movie-title {
	font-family: 'Lobster', cursive;
	font-size: 35px;
	margin-top: 0;
}
.moviedetails .btn-info {
	margin-right: 5px;
}
.moviedetails .overview {
	font-size: 17px;
	margin: 15px 5%;
}
.genre-title {
	text-align: right;
	margin-bottom: 0;

}
